{% extends 'base.html' %}

{% block content %}
<form class="row g-3">
  <div class="col-md-6">
    <label for="text" class="form-label">product</label>
    <input type="text" class="form-control" id="product_name" name ="product_name">
  </div>
  <div class="col-md-3">
    <label for="min_price" class="form-label">min price</label>
    <input type="text" class="form-control" id="min_price" name ="min_price">
  </div>
  <div class="col-md-3">
    <label for="max_price" class="form-label">max price</label>
    <input type="text" class="form-control" id="max_price" name = "max_price">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">category</label>
    <select id="category" class="form-select" name = "category">
      <option disabled>Choose</option>
      {% for category in categories %}
          <option value ="{{category.id}}">{{category.name}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-6">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="col-3">
    <button type="submit" class="btn btn-primary">search</button>
  </div>
</form>

<div class="container text-center">
  <div class="row row-cols-4 mt-4">
    {% for product in products %}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://fantasyislandtoys.com/cdn/shop/products/toni10000575_820x377.jpg?v=1693497694" class="card-img-top" alt="https://fantasyislandtoys.com/cdn/shop/products/toni10000575_820x377.jpg?v=1693497694">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text fw-bold">{{product.price}} $ </p>

          <p class="card-text">{{product.description}}</p>
          <a href="" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}