{%extends 'base.html' %}

{% block content %}
<div class = "row">
    <div class ="col col-4">
        <img src="https://fantasyislandtoys.com/cdn/shop/products/toni10000575_820x377.jpg?v=1693497694" class="card-img-top" alt="https://fantasyislandtoys.com/cdn/shop/products/toni10000575_820x377.jpg?v=1693497694">
    </div>
    <div class ="col col-8">
        <div>6570 naxva </div>
                <div class ="ms-5">07/12/2024</div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <div class="fw-bold card-title>"> shreki </div>

                <p class = "fw-bold card-text"> 35$ </p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}